{erl_opts, [debug_info, warnings_as_errors]}.

{deps, [
    {bel_html, {
        git,
        "https://github.com/bel-framework/bel-html",
        {branch, "main"}
    }},
    {bel_css, {
        git,
        "https://github.com/bel-framework/bel-css",
        {branch, "main"}
    }}
]}.

{dialyzer, [
    {plt_extra_apps, [bel_html, bel_css]}
]}.

{project_plugins, [rebar3_hex, rebar3_ex_doc]}.

{hex, [{doc, #{provider => ex_doc}}]}.

{ex_doc, [
    {extras, [
        {'README.md', #{title => <<"Overview">>}},
        {'LICENSE.md', #{title => <<"License">>}}
    ]},
    {main, <<"README.md">>},
    {homepage_url, <<"https://github.com/bel-framework/bel-css">>},
    {source_url, <<"https://github.com/bel-framework/bel-css">>},
    {api_reference, false}
]}.

{alias, [
    {test,  [{ct, "--verbose"}, eunit]},
    {check, [ct, eunit, dialyzer]}
]}.
